# Django + DRF
Django==4.2.13
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.0

# Database
psycopg2-binary==2.9.7
dj-database-url==2.1.0

# Cache / queue (optional — Upstash Redis)
redis==4.6.0
django-redis==5.3.0
celery==5.3.1

# Security
django-ratelimit==4.1.0
python-decouple==3.8
setuptools>=69.0.0,<81

# Production server
gunicorn==21.2.0
whitenoise==6.5.0

# Monitoring (optional)
sentry-sdk[django]==1.32.0
